data/*
!data/README.md
private_annotations/
private_analysis/
results/
figures/
outputs/

*.rds
*.h5ad
*.loom
*.h5
*.zarr

*_markers.csv
*_results.csv

.Rhistory
.RData
.Rproj.user/

__pycache__/
*.pyc
.venv/

.DS_Store
maps/
proteomes/
*.html
*.npy
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
resources/pyscenic/
outputs/pyscenic_exports/
outputs/pyscenic_h5ad/
outputs/pyscenic_results/
renv/
outputs/orthology/
proteomes/orthofinder/
mappings/
